---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<div class="card-list">
    {% for post in site.portfolio reversed %}
    <a href="{{ post.url }}" class="card-list__item">
        <div class="card-list__header">
            <h3 class="card-list__title">{{ post.title }}</h3>
            {% if post.date %}
            <span class="card-list__date">{{ post.date | date: "%Y" }}</span>
            {% endif %}
        </div>
        {% if post.excerpt %}
        <p class="card-list__excerpt">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
        {% endif %}
    </a>
    {% endfor %}
</div>
