<script src="https://unpkg.com/@studio-freight/lenis@1.0.29/dist/lenis.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/smooth-scroll.js"></script>
<script src="{{ site.baseurl }}/assets/js/world-map.js"></script>
<script src="{{ site.baseurl }}/assets/js/chip-nav.js"></script>
<script src="{{ site.baseurl }}/assets/js/island-nav.js"></script>
<script src="{{ site.baseurl }}/assets/js/generative-hero.js"></script>
<script src="{{ site.baseurl }}/assets/js/cv-accordion.js"></script>
<script src="{{ site.baseurl }}/assets/js/party-mode.js"></script>
<script type="module" src="{{ site.baseurl }}/assets/js/main.min.js"></script>

{% include analytics.html %}